{{#link-to 'conferences.conference' activity}}
  <div class="person person{{index}}">
    <img src="{{activity.image}}">
    <div class="name">
      <div class="full_name">
        <div class="f_name"> {{ activity.person.name }} </div>
        <div class="s_name">{{ activity.person.second_name }}</div>
      </div>
      <div class="info">
        <div class="location"> {{ activity.person.location }}  </div>
        <div class="speciality">{{ activity.person.speciality }} </div>
      </div>
      
    </div>
  </div>
{{/link-to}}
