<div id="menu">
  <div class="getTickets">
    <a href="mailto:ixtapa@a.com.mx">
      <div class="text">
        <span>
          SOLICITA
        </span>
        TUS ENTRADAS
      </div>
    </a>
  </div>

  <div class="menuHandler" {{action "showMenu"}} >
    <span class="openMenu icon-menu"></span>
  </div>

  {{#if isMenuVisible}}


    <div class="selection VCenter">
      <div class="closeMenu">
        <span  {{action "hideMenu"}}  class="glitch" data-text="" >  </span>
      </div>

      <ul>
        <li  {{action "hideMenu"}} class="logoMenu" >
          {{#link-to "index" class="glitch" data-text=""}}  &#xe902;  {{/link-to}}
        </li>
        <li {{action "hideMenu"}} >
          {{#link-to "conferences"class="glitch" data-text="Conferencias"}} Conferencias {{/link-to}}
        </li>
        <li {{action "hideMenu"}} >
          {{#link-to "workshops"class="glitch" data-text="Taller para docens"}} Taller para docentes{{/link-to}}
        </li>
        <li {{action "hideMenu"}} >
          {{#link-to "calendar"class="glitch" data-text="Calendario"}} Calendario {{/link-to}}
        </li>
        <li {{action "hideMenu"}} >
          {{#link-to "tickets"class="glitch" data-text="Boletos"}} Boletos {{/link-to}}
        </li>
        <li {{action "hideMenu"}} >
          {{#link-to "location"class="glitch" data-text="Sede"}} Sede {{/link-to}}
        </li>
        <li  >
          {{mailtolink 'Contacto' 'ixtapa@a.com.mx' 'glitch'}}
        </li>
      </ul>
      <div class="foot">
        <p class="glitch" data-text="Powered by">Powered by</p>

        <img src="assets/img/logos.png">

        <div class="pleca"></div>
      </div>
    </div>


  {{/if}}

</div>
