{{#liquid-bind model as |curModel|}}

    <article>
      <div class="pure-g">
        <div class="pure-u-1-24 pure-u-md-2-24"></div>
        <div class="pure-u-22-24 pure-u-md-20-24">
          <div class="name">
            {{ curModel.person.name }}
            {{ curModel.person.second_name }}
          </div>


          <div class="from">
            <span class="location">
              {{ curModel.person.location }}
            </span>
            {{ curModel.person.speciality }}
          </div>
        </div>
        <div class="pure-u-1-24 pure-u-md-2-24"></div>

      </div>


      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-2-24"></div>
        <div class="pure-u-1 pure-u-md-20-24 profile">
          {{gif-image imageUrl=curModel.person.image type="profile" }}
          <div class="details">
            <div class="day">
              <span> Día </span>
              {{date curModel.dateTime 'day'}}
            </div>
            <div class="hour">
              <span> Horario </span>
              {{date curModel.dateTime 'time'}}
            </div>
            <div class="language">
              <span>Lenguaje</span>
              {{curModel.language}}
            </div>
            <div class="social">
              <div class="text">Compartir este evento</div>
              <div id="social-share">
                {{social-share}}
              </div>
            </div>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-2-24"></div>
      </div>

    </article>

    <article>
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-2-24"></div>
        <div class="pure-u-1-24 pure-u-md-1-24"></div>
        <div class="pure-u-22-24 pure-u-md-11-24">
          <h2>Acerca de</h2>
          <div class="biography">
            {{md curModel.person.biography}}
            <div id="social-links">
              {{social-links type='website' link=curModel.person.website}}
              {{social-links type='facebook' link=curModel.person.social.facebook}}
              {{social-links type='twitter' link=curModel.person.social.twitter}}
              {{social-links type='instagram' link=curModel.person.social.instagram}}

            </div>
          </div>

        <h2 class="workTitle">Trabajo</h2>
        </div>

        <div class="pure-u-1-24 pure-u-md-9-24"></div>
        <div class="pure-u-1 pure-u-md-2-24"></div>
      </div>
    </article>
    <article class="work">
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-2-24"></div>
        <div class="pure-u-1 pure-u-md-20-24">
          {{gif-image  imageUrl= curModel.person.workImage}}
        </div>
        <div class="pure-u-1 pure-u-md-2-24"></div>
      </div>
    </article>

{{/liquid-bind}}
